<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Vocational Test</title>
  <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
</head>
<body>
    <h1> Listado de Carreras </h1>

    
    <ul>
        <% @careers.map do |career| %>
        <li>
            <a href= "careers/<%=career.id %>"> <%= career.name %></a>
            (<%=career.surveys.count.to_s %>)
        </li>
        <% end %>
    </ul>

</body>
</html>