<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Vocational Test</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="nav-nav">
      <a href="/" class="nav-link">Inicio</a>
      <a href="surveys" class="nav-link">Test</a>
    </nav>

    <div class="container-careers">
      <h1> Listado de Carreras </h1>  
      <ul id="list">
        <% @careers.map do |career| %>
        <li>
          <h4><%= career.name %></h4>
          <img src="<%=career.image %>" alt="Career img" class="career-image" >
          <p> <%=career.description %></p>
          <p>Cantidad de resultados de esta carrera en los test: <%=career.surveys.count.to_s %><p>
        </li>
        <% end %>
      </ul>
    </div>
    
  </body>
</html>