<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Vocational Test</title>
</head>
<body>
    <h1> Listado de Carreras </h1>

    <form action='/careers' method='POST'>
        <input type='text' name='name'>
        <input type='submit' value='Submit'>
    </form>

    <ul>
        <% @careers.map do |career| %>
        <li>
            <a href= "careers/<%=career.id %>"> <%= career.name %></a>
            (<%=career.surveys.count.to_s %>)
        </li>
        <% end %>
    </ul>

</body>
</html>