    <div class="container-careers">
      <h1> Listado de Carreras </h1>  
      <ul id="list">
        <% @careers.map do |career| %>
        <li>
          <h4><%= career.name %></h4>
          <img src="<%=career.image %>" alt="Career img" class="career-image" >
          <p> <%=career.description %></p>
          <p>Cantidad de resultados de esta carrera en los test: <%=career.surveys.count.to_s %><p>
        </li>
        <% end %>
      </ul>
    </div>