<!DOCTYPE html>
  
<html>
  <head>
    <title>
      My example
    </title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
  </head>
  <body>
    Hola <b><%= @name %></b>!
  </body>
</html>

