<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Vocational Test</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  </head>

  <body>

    <nav class="nav-nav">
      <a href="/" class="nav-link">Inicio</a>
      <a href="careers" class="nav-link">Carreras</a>
      <a href="surveys" class="nav-link">Test</a>
    </nav>

    <div id="container">
      <h1> Test Vocacional - 2021 </h1>
      <h4> ¿Seguís pensando en qué querés estudiar?</h4>
      <h4> ¿No conocés todas las opciones de carreras disponibles en la UNRC?</h4>
      <h2> ¡Tenemos lo que necesitás! </h4>
      <a href ="surveys" id="test-button"> Comenzar test </a>
    </div>
    
  </body>
</html>