<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Vocational Test</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
  </head>

  <body>
    <div id="container">
      <h1> Test Vocacional - 2021 </h1>
      <h4> ¿Seguís pensando en qué querés estudiar?</h4>
      <h4> ¿No conocés todas las opciones de carreras disponibles en la UNRC?</h4>
      <h4> ¡Tenemos lo que necesitás! </h4>
      <button type="button"> <a href ="surveys" id="empezar_test"> Comenzar test </a> </button>
    </div> 
    <div id="carreras">
      <p> Para conocer todas las carreras</p>
      <button type="button"> <a href ="careers" id="ver_carreras"> Carreras </a> </button> 
    </div>

  </body>
</html>