<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Vocational Test</title>
  <link rel="stylesheet" type="text/css" href='../public/css/style.css'>
</head>
<body>
    <h1> Test Vocaacional - 2021 </h1>
    <h4> ¿Seguís pensando en qué querés estudiar? ¿No conocés todas las opciones de carreras disponibles en la UNRC? <b>¡Tenemos lo que necesitás!</b> </h4>
    <button type="button"> <a href ="/surveys"> Comenzar test </a> </button>

    <footer>
    <p>Authors: Camilo Gorla Petrignani - Gaston Martin</p>
    </footer>
</body>
</html>