<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title> Outcome </title>
		<link rel="stylesheet" href="styles_outcomes.css">
	</head>

	<body>

		<div class="intro">
			<h2> La carrera para vos es: </h2>
		</div>

		<h1> <%= @career.name %> <br> </h1>

		<div class="carreras">
			<ul>
				<li> <h2>Carreras disponibles <a href="careers"></a> </h2> </li>
			</ul>
		</div>
	</body> 
</html>