<!doctype html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Vocational Test</title>
	<link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
</head>
<body>
    <title> Preguntas </title>

    <form action = '/questions' method = 'POST'>
	    <h2> Pregunta: <input type='name' name= 'question[name]'/></h4>
	    <h3> Descripcion de la pregunta: <input type = 'description' name = 'question[description]'/></h4>
	    <input type = 'submit' value = 'Aceptar'/>
    </form>

    <ul>
	    <% @questions.map do |question| %> 
	        <li>
		        <a href = "questions/<%=question.id %>"> <%= question.name %>  (<%= question.description.to_s %>)
	        </li>
	    <% end %>
    </ul>
</body>
</html>