<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
</head>
<body >

	<nav class="nav-nav">
      <a href="/" class="nav-link">Inicio</a>
      <a href="careers" class="nav-link">Carreras</a>
	  <a href="inquiries" class="nav-link">Consultas</a>
    </nav>

	<div id="form-user">
		<form action="/surveys" method="POST">
			<label form="username">Ingrese su nombre</label>
			<input required type="text" name="username" id="username-input">
			<a href="responses"><input type='submit' value = 'Empezar Test' id="username-input"></a>
		</form>
	</div>
	
</body>
</html>