<div id="form-user">
	<form action="/surveys" method="POST">
		<label form="username">Ingrese su nombre</label>
		<input required type="text" name="username" id="username-input">
		<a href="responses"><input type='submit' value = 'Empezar Test' id="username-input"></a>
	</form>
</div>