:root{
    --color-main: rgb(98, 48, 163);
    --shadow-def: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
body {
    background-image: url(./fondo\ test.png);
    padding: 2em;
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

/*style for te navbar*/
.nav-link:hover{
    background-color:rgba(98, 48, 163, 0.5);
    color: #EEEEEE;
}
.nav-link{
    padding:10px 70px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid var(--color-main);
    border-top: 3px solid var(--color-main);
    color: var(--color-main);
}
.nav-nav{
    text-align:center;
    display: flex;
    justify-content: center;
    font-size:25px;
}

/*style for the landing page*/ 
#container{
    margin-top:8rem;
    padding:40px;
    display:flexbox;
    justify-content: center;
    color: var(--color-main);
    margin-right: 35%;
    font-size: 20px;
    text-align: center;
}
#container h1{
    text-shadow: var(--shadow-def);
    margin-bottom: 4rem;
}
#container h2{
    margin-bottom: 3rem;
}
#test-button{
    padding:10px;
    background-color:none;
    text-decoration: none;
    border-radius: 12px;
    color: var(--color-main);
    border: 2px solid var(--color-main);
    font-size: 29px;
    box-shadow:var(--shadow-def);
    text-decoration: none;
}
#test-button:hover{
    background-color:var(--color-main);
    color:white;
}

/*stryle for the surveys page*/
#form-user{
    color: var(--color-main);
    font-size: 20px;
    padding: 70px;
    text-align: center;
    padding-right: 35rem;
}
#username-input{
    background-color:transparent;
    border: 2px solid var(--color-main);
    width: 50%;
    color: var(--color-main);
    font-size:20px;
    padding:10px;
}
#username-input{
    border: none;
    background-color:var(--color-main);
    color:white;
}
label{
    font-size: 30px;
}
#username-input[type=text]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--color-main);
    border-radius: 4px;
    background-color:transparent;
}
#username-input[type=text]:focus {
    outline: none;
}

/*style for the careers page*/
.container-careers h1{
    color: var(--color-main);
    font-size:35px;
    text-shadow: var(--shadow-def);
    border: 2px solid var(--color-main);
    padding: 10px;
    margin-right: 40rem;
    text-align: center;
}
#list {
    color: var(--color-main);
    list-style: none;
    padding-right: 20rem;
    text-decoration: none;
}
#list li{
    font-size: 30px;
}
#list h4{
    text-decoration: underline;
}
#list li p{
    font-size:15px;
    text-decoration: none;
}